<%= form_for @dacatalog_xml do |form| %>
<table id="queue-list">
  <thead>
    <tr>
      <th></th>
      <th>#</th>
      <th>Created at</th>
      <th>Zip filename</th>
      <th>Files</th>
      <th>Notes</th>
      <th>Delete</th>
      <th>Status</th>
      <th>Job#</th>
    </tr>
  </thead>
  <tbody>
    <% @rarebook_xmls.each do |queue| %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%= checkable(queue) %></td>
      <th><%= queue.id %></th>
      <td><%= queue.created_at %></td>
      <td><%= link_to queue.zip_file_name, queue.zip.url %></td>
      <td class="right"><%= files(queue.zip.path) %></td>
      <td><%= queue.notes %></td>
      <td class="center"><%= link_to "Del", queue, :confirm => 'Are you sure?', :method => :delete %></td>
      <td class="center"><%= queue.status %></td>
      <td class="center"><%= queue.dacatalog_xml_id %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= form.submit "Add these to a new job" %> <span id="upload-link"><%= link_to "Upload", new_rarebook_xml_path %></span>
<br/>
<span>* Fill out these columns if your new translating job is for TAIS:</span>
<div class="row">
<%= form.label :archives_type, 'Archives Type:' %>
<%= form.text_field :archives_type %>
</div>
<div class="row">
<%= form.label :archives_fonds, 'Archives Fonds:' %>
<%= form.text_field :archives_fonds %>
</div>
<div class="row">
<%= form.label :archives_series, 'Archives Series:' %>
<%= form.text_field :archives_series %>
<div class="row">
<% end %>
