<h2>Listing Translation Jobs</h2>

<span id="notice"><%= notice %></span>

<table id="job-list">
  <thead>
    <tr>
      <th>#</th>
      <th>Created at</th>
      <th>Items</th>
      <th>Detail</th>
      <th>Status</th>
      <th>Delete</th>
      <th>Translated File</th>
    </tr>
  </thead>
  <tbody>
  <% @dacatalog_xmls.each do |dacatalog_xml| %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%= dacatalog_xml.id %></td>
      <td class="right"><%= dacatalog_xml.created_at %></td>
      <td class="right"><%= dacatalog_xml.rarebook_xmls.count %></th>
      <td class="center"><%= link_to 'Show', dacatalog_xml %></td>
      <td><%= dacatalog_xml.status %></td>
      <td class="center"><%= link_to 'Del', dacatalog_xml, :confirm => 'Are you sure?', :method => :delete %></td>
      <td class="center"><%= downloadable?(dacatalog_xml) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
