<!DOCTYPE html>
<html>
<head>
  <title>Rarecat</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
<h1>Rarecat</h1>
<div id="toolbar">
  <ul>
    <li><%= link_to "Home/Pending Queue", root_path %></li>
    <li><%= link_to "Jobs", dacatalog_xmls_path %></li>
    <li><%= link_to "Journal Mapping", journals_path %></li>
  </ul>
</div>
<%= yield %>
</body>
</html>
